// Here you can add other styles
.sortableHelper {
    z-index: 10;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-button {
    height: 0px;
    display: none;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #33444C; 
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #20A8D8; 
}